
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="../assets/img/634-1024.png" style="width: 50px; height: 50px "></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About us</a>
    </li>
  </ul>
  <!-- <form class="form-inline my-2 my-lg-0"> -->
    <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
    <button *ngIf="!showLogin" class="btn btn-info my-2 my-sm-0" type="submit"(click)="showLogin= true">LOG IN</button>
    <button *ngIf="!showLogin" class="btn btn-outline-success my-2 my-sm-0" type="submit"(click)="showSignUp= true">Sign up</button>
  <!-- </form> -->
</div>
</nav>

<p-galleria 
        [images]="images" 
        panelWidth="100%" 
        panelHeight="450" 
        transitionInterval = 3000 
        [showCaption]="true" 
        frameWidth = "50" 
        frameHeight = "0" 
        showFilmstrip = "false"></p-galleria>


<p-sidebar [(visible)]="showLogin" [baseZIndex]="10000">
    <app-login></app-login>
</p-sidebar>

<p-sidebar [(visible)]="showSignUp" [baseZIndex]="10000">
    <app-sign-up></app-sign-up>
</p-sidebar>

<router-outlet></router-outlet>
