<div id="sideBar">
    <div id="panel">
      <h1 style="font-weight:normal">Sign Up</h1>
      <form (ngSubmit)="clickSignUp()" #f="ngForm">
          <div class="input-group mb-3">
            <input type="text" name="firstName" class="form-control input_user" [(ngModel)]="user.fName" placeholder="First Name" required>
          </div>
          <div class="input-group mb-3">
              <input type="text" name="lName" class="form-control input_user" [(ngModel)]="user.lName" placeholder="Last Name" required>
          </div>
          <div class="input-group mb-3">
              <input type="text" name="phone" class="form-control input_user" [(ngModel)]="user.phone" placeholder="Phone Number" required>
          </div>
          <div class="input-group mb-3">
              <input type="email" name="email" class="form-control input_user" [(ngModel)]="user.email" placeholder="E-mail" required>
          </div>
          <div class="input-group mb-1">
                <mat-checkbox name="govEmp" style="margin:2px" [(ngModel)]="user.govEmp" > Goverment Empolyee</mat-checkbox>
          </div>
          <div class="input-group mb-3" *ngIf = "user.govEmp">
              <input type="text" name="nic" class="form-control input_user" [(ngModel)]="user.nic" placeholder="NIC num" (required) = 'govEmp' >
          </div>
          <div class="input-group mb-3">
              <input type="password" name="password" class="form-control input_user" [(ngModel)]="user.password"  placeholder="password" required>
          </div>

          <div class="input-group mb-3">
              <input type="password" name="confirmPassword" class="form-control input_user" ngModel placeholder="confirm password " required>
          </div>

        <button type="submit" label="Cancel" class="btn btn-success btn-block" [disabled]="!f.valid" >Sign up</button>
        <div *ngIf = "singUpError" style="color:crimson">email Address Already Exist </div>
        </form> 
      </div>
</div>
